<div class="fs-row.gap-xs.wrap">
  <fs-share
      *ngFor="let platform of platforms"
      [platform]="platform.value"
      [title]="config.title"
      [url]="config.url"
      [description]="config.description"
      [image]="config.image"
      [beforeOpen]="beforeOpen"
      [afterOpen]="afterOpen">
    <button
        mat-raised-button
        color="primary">
      Share on {{ platform.value }}
    </button>
  </fs-share>
</div>
<br>
<br>
<div class="fs-row.gap-xs.wrap">
  <mat-form-field>
    <mat-label>
      Shape
    </mat-label>
    <mat-select
        [(ngModel)]="shape"
        name="shape">
      <mat-option value="square">
        Square
      </mat-option>
      <mat-option value="circle">
        Circle
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      Size
    </mat-label>
    <input
      matInput
      [(ngModel)]="size"
      name="size">
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      Icon Size
    </mat-label>
    <input
      matInput
      [(ngModel)]="iconSize"
      name="iconSize">
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      Icon & Label Color
    </mat-label>
    <input
      matInput
      [(ngModel)]="iconColor"
      name="iconColor"
      fsColorPicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      Show Label
    </mat-label>
    <mat-select
        [(ngModel)]="showLabel"
        name="showLabel">
      <mat-option [value]="true">
        Yes
      </mat-option>
      <mat-option [value]="false">
        No
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      Show Icon
    </mat-label>
    <mat-select
        [(ngModel)]="showIcon"
        name="showIcon">
      <mat-option [value]="true">
        Yes
      </mat-option>
      <mat-option [value]="false">
        No
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="fs-row.wrap">
  <fs-share-button
    [platform]="item.value"
    [title]="config.title"
    [url]="config.url"
    [image]="config.image"
    [size]="size"
    [description]="config.description"
    [beforeOpen]="beforeOpen"
    [afterOpen]="afterOpen"
    [showIcon]="showIcon"
    [color]="iconColor"
    [showLabel]="showLabel"
    [iconSize]="iconSize"
    [shape]="shape"
    *ngFor="let item of platforms">
  </fs-share-button>
</div>
<br>
<br>
<br>
<button
    type="button"
    (click)="openShare()"
    mat-raised-button>
  Open Share Dialog
</button>