
<div fxLayout="row wrap" fxLayoutGap="10px">
  <fs-share
    *ngFor="let platform of platforms"
    [platform]="platform.value"
    [title]="config.title"
    [url]="config.url"
    [description]="config.description"
    (open)="open($event)">
      <button
        mat-raised-button
        color="primary">
          Share on {{platform.value}}
      </button>
  </fs-share>
</div>

<br><br>

<div fxLayout="row wrap" fxLayoutGap="10px">
  <fs-share-button
    [platform]="item.value"
    [title]="config.title"
    [url]="config.url"
    [description]="config.description"
    (open)="open($event)"
    *ngFor="let item of platforms">
  </fs-share-button>
</div>