.platforms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h2 {
  margin: 0;
}

.box {
  padding: 6px 6px 6px 10px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  border-radius: 7px;
  margin-top: 19px;

  .url {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
  }
}

:host ::ng-deep {
  .mat-dialog-content {
    width: 500px;
    max-width: 100%;
  }
}