<h2 mat-dialog-title>Share</h2>
<mat-dialog-content>
  <div class="platforms"
      *ngIf="buttonPlatforms.length">
    <fs-share-button
      *ngFor="let platform of buttonPlatforms"
      [platform]="platform"
      [title]="shareConfig.title"
      [url]="shareConfig.url"
      [image]="shareConfig.image"
      [size]="20"
      [description]="shareConfig.description"
      [showIcon]="true"
      [showLabel]="false"
      [open]="open"
      [size]="150"
      [shape]="'circle'">
    </fs-share-button>
  </div>

  <div class="copy-platform"
      *ngIf="copyPlatform">
    <div class="box">
      <div class="url">
        {{shareConfig.url}}
      </div>
      <fs-share
          [platform]="Platform.Copy"
          [title]="shareConfig.title"
          [url]="shareConfig.url"
          [description]="shareConfig.description"
          [open]="open">
        <button
            mat-flat-button
            color="primary"
            type="button">
          Copy
        </button>
      </fs-share>
    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <button
      mat-button
      color="primary"
      type="button"
      [mat-dialog-close]="undefined">
    Cancel
  </button>
</mat-dialog-actions>