<fs-share
    [title]="title"
    [url]="url"
    [image]="image"
    [href]="href"
    [description]="description"
    [afterOpen]="afterOpen"
    [beforeOpen]="beforeOpen"
    [platform]="platform">
  <span
      class="button-container"
      [class]="shape + ' ' + platform"
      [ngClass]="{ 'show-label': showLabel }"
      [style.paddingTop]="((size / 15)) + 'px'"
      [style.paddingBottom]="((size / 15) ) + 'px'"
      [style.paddingLeft]="((size / 15) + (showLabel ? (size / 15) : 0)) + 'px'"
      [style.paddingRight]="((size / 15) + (showLabel ? (size / 15) : 0)) + 'px'">
    <fs-share-icon
      class="icon"
      [size]="iconSize ? iconSize : (size / 100) * 20"
      *ngIf="showIcon"
      [color]="color"
      [platform]="platform"
      [origin]="iconOrigin"
      [url]="iconUrl">
    </fs-share-icon>
    <span
        class="label"
        *ngIf="showLabel && platformNames[platform]"
        [ngStyle]="{ 'font-size': size + '%', color: color }">
      {{ platformNames[platform] }}
    </span>
  </span>
</fs-share>